<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Equities App</title>
  </head>
  <body>

    <h1>Welcome to the Equities app!</h1>

    <p>An app for storing your stock portfolio data.</p>
    
    <a href="/equities">Browse Equities</a>

  </body>
</html>
