<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Equities Index</title>
  </head>
  <body>

    <h1>All Equities</h1>

    <a href="/equities/new">Add New Equity</a>

    <ul>
        <% equitiesforEach(equity => { %>

        <li><%= equity.name %></li>

        <% }); %>
    </ul>
    
    </body>
  </body>
</html>